<p>Average age: <%= @average_age %></p>
<% @astronauts.each do |astronaut| %>
  <h2><%= astronaut.name %></h2>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
  <h3>Missions:</h3>
  <% astronaut.missions.each do |mission| %>
    <p> <%= mission.title %> </p>
  <% end %>
<% end %>
